language: java
dist: bionic
addons:
    postgresql: '12'
    apt:
      packages:
        - postgresql-12
        - postgresql-client-12
        - postgresql-12-postgis-3
env:
    global:
        - PGVER=12
        - PGPORT=5433

before_script:
  - psql -c 'create database "test_db";'
