
before_install:
  - echo "$DOCKER_PASSWORD" | docker login --username $DOCKER_USERNAME --password-stdin
branches:
  only:
    - "master"
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
cache: pip
install:
  - pip install tox-travis
script:
  - tox
services:
  - redis-server
