language: bash

before_script:
  - sudo apt-get update
  - sudo apt -y install software-properties-common
  - sudo add-apt-repository ppa:ondrej/php
  - sudo apt-get update
  - sudo apt -y install php7.4
script:
  - php -v
